<!doctype html>
<html lang="ko">
    <head>
    <head>
    {% include "layout/header.html" ignore missing with context %}
    </head>
    <body>
        {% include "layout/nav.html" ignore missing with context %}
        <!--<main role="main" class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-10 bd-content" style="max-width: 46rem;">-->
        <main role="main" class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-10 mx-auto" >

            <!--</div>-->
            <div class="container">
                <h1 class="display-4">{{ item.church_name|e }} 주보등록</h1>
            </div>
            <form id="f" name="f" action="{{ url_for('go_weekly_paper') }}" method="post">
                <!-- Example row of columns -->
                <hr/>
                <!--{% for i in range(5, 10, 2) %}{{ i }} {% endfor %}-->
                <div class="container">
                {{ item.church_id|e }}
                {{ item.church_name|e }}
                {{ item.week_date|datetimeformat }}
                {{ item.worship_name|e }}
                {{ item.reg_date|e }}
                {{ item.update_date|e }}
                    <input type="text" id="worship_name" name="worship_name" value="{{ item.worship_name|e }}" />
                    <input type="text" id="week_date" name="week_date" value="{{ item.week_date|datetimeformat }}"/>

                <hr/>
                <table class="table table-striped table-bordered table-sm table-responsive">
                    <caption>{{ item.worship_name|e }}</caption>
                    <thead>
                        <tr>
                            <th width="5%" scope="col">#</th>
                            <th width="15%" scope="col">제목</th>
                            <th width="*" scope="col">내용</th>
                            <th width="20%" scope="col">기타</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set y = '' %}
                    {% set worship = '' %}
                    {% for i in range(1, item.worship_procedure| length) %}
                        {% set y = loop.index|string %}
                        <!--{{ y }}-->
                        {% if item.worship_procedure[y] %}
                        {% set worship = item.worship_procedure[y] %}
                        <tr id="{{ y }}">
                            <th scope="row">{{ y }}
                            {% if item.worship_procedure[y]["stand_up"] %}
                                <!--{{ item.worship_procedure[y]["stand_up"] }} - -->
                                <font color="red" >*</font>
                            {% endif %}
                            </th>
                            <td>
                            {% if item.worship_procedure[y]["title"] %}
                                <div class="input-group input-group-sm" >
                                    <input type="text" class="form-control" id="title_{{ y }}" name="title_{{ y }}" placeholder="제목" value="{{ item.worship_procedure[y]['title'] }}"/>
                                </div>
                            {% endif %}
                            </td>
                            <td>
                            <div class="d-sm-inline-flex my-0">
                                <select class="mx-1"id="contents_type_{{ y }}" name="contents_type_{{ y }}" >
                                    <option value="none" >선택</option>
                                    <option value="contents" {% if item.worship_procedure[y]["contents"] %}selected{% endif %}>내용</option>
                                    <option value="link" {% if item.worship_procedure[y]["link"] %}selected{% endif %}>이동</option>
                                </select>
                                <!-- 콘텐츠 선택시 표시 -->
                                <textarea
                                        {% if not item.worship_procedure[y]['contents'] or (not item.worship_procedure[y]['contents'] and not item.worship_procedure[y]["link"]) %}
                                            style="display:none"
                                        {% endif %}
                                    id="contents_{{ y }}" name="contents_{{ y }}" cols="50" placeholder="내용을 작성해 주세요" style="min-height:50px;overflow:visible;" onfocus="resize(this)" onkeyup="resize(this)">{{ item.worship_procedure[y]["contents"] }}</textarea>
                                <!-- //콘텐츠 선택시 표시 -->
                                <!-- 링크 선택시 표시 --> {# 링크 정보가 없거나 링크, 컨텐츠 정보가 없을시 화면 표시 하지 않음 #}
                                <div id="link_div_{{ y }}"
                                    {% if not item.worship_procedure[y]["link"] or (not item.worship_procedure[y]['contents'] and not item.worship_procedure[y]["link"]) %}
                                        style="display:none"
                                    {% endif %} >

                                    <select id="link_type_{{ y }}" name="link_type_{{ y }}">
                                        <!--<option value="none" >선택</option>-->
                                        <option value="hymn"
                                                        {% if item.worship_procedure[y]["link"] and item.worship_procedure[y]["link"]["kind"] == "hymn" %}
                                                                selected
                                                        {% endif %}>찬송가</option>
                                        <option value="bible" {% if item.worship_procedure[y]["link"] and item.worship_procedure[y]["link"]["kind"] == "bible" %}selected{% endif %}>성경</option>
                                        <option value="reading" {% if item.worship_procedure[y]["link"] and item.worship_procedure[y]["link"]["kind"] == "reading" %}selected{% endif %}>교독문</option>
                                    </select>
                                    <div id="hymn_div_{{ y }}"
                                         {% if not worship["link"] or ( worship['link'] and worship['link']['kind'] == 'bible' ) %}
                                            style="display:none"
                                         {% endif %} >
                                        <select id="link_to_{{ y }}" name="link_to_{{ y }}">
                                            <!--<option value="none" >선택</option>-->
                                            {# 찬송가 선택시 찬송가 처리 영역 #}
                                            {% for i in range(1, 646) %}<option class="hymn_{{ y }}" value="{{ i }}"
                                                                                {% if item.worship_procedure[y]["link"] and item.worship_procedure[y]["link"]["kind"] == "hymn" and item.worship_procedure[y]["link"]["link_to"] == i %}selected{% endif %}>{{ i }}</option>{% endfor %}
                                            {# 교독문 선택시 찬송가 처리 영역 #}
                                            {% for i in range(1,138) %}<option class="reading_{{ y }}" value="{{ i }}"
                                                                               {% if item.worship_procedure[y]["link"] and item.worship_procedure[y]["link"]["kind"] == "reading" and item.worship_procedure[y]["link"]["link_to"] == i %}selected{% endif %}>{{ i }}</option>{% endfor %}
                                        </select>
                                    </div>
                                    <div id="bible_div_{{ y }}"
                                        {% if not worship["link"] or ( worship['link'] and worship['link']['kind'] != 'bible' ) %}
                                            style="display:none"
                                        {% endif %} >
                                        <div class="input-group input-group-sm" >
                                            <input type="text" class="form-control" id="bible_from_s_{{ y }}" name="bible_from_s_{{ y }}" placeholder="말씀" value="{% if worship['link'] and (worship['link']['kind'] == 'bible' and worship['link']['from']) %}{{ worship['link']['from']['p'] }}{% endif %}"/>
                                        </div>
                                        <div class="input-group input-group-sm" >
                                            <input type="text" class="form-control" id="bible_from_line_{{ y }}" name="bible_from_line_{{ y }}" placeholder="장" value="{% if worship['link'] and (worship['link']['kind'] == 'bible' and worship['link']['from']) %}{{ worship['link']['from']['line'] }}{% endif %}"/>
                                        </div>
                                        <div class="input-group input-group-sm" >
                                            <input type="text" class="form-control" id="bible_from_sen_{{ y }}" name="bible_from_sen_{{ y }}" placeholder="절" value="{% if worship['link'] and (worship['link']['kind'] == 'bible' and worship['link']['from']) %}{{ worship['link']['from']['s'] }}{% endif %}"/>
                                        </div>
                                        <div class="input-group input-group-sm" >
                                            <input type="text" class="form-control" id="bible_to_s_{{ y }}" name="bible_to_s_{{ y }}" placeholder="말씀" value="{% if worship['link'] and (worship['link']['kind'] == 'bible' and worship['link']['to']) %}{{ worship['link']['to']['p'] }}{% endif %}"/>
                                        </div>
                                        <div class="input-group input-group-sm" >
                                            <input type="text" class="form-control" id="bible_to_line_{{ y }}" name="bible_to_line_{{ y }}" placeholder="장" value="{% if worship['link'] and (worship['link']['kind'] == 'bible' and worship['link']['to']) %}{{ worship['link']['to']['line'] }}{% endif %}"/>
                                        </div>
                                        <div class="input-group input-group-sm" >
                                            <input type="text" class="form-control" id="bible_to_sen_{{ y }}" name="bible_to_sen_{{ y }}" placeholder="절" value="{% if worship['link'] and (worship['link']['kind'] == 'bible' and worship['link']['to']) %}{{ worship['link']['to']['s'] }}{% endif %}"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- //링크 선택시 표시 -->
                            </div>
                            </td>
                            <td>
                                <textarea class="h6" id="etc_{{ y }}" name="etc_{{ y }}" cols="15" style="min-height:50px;overflow:visible;" onfocus="resize(this)" onkeyup="resize(this)" placeholder="내용을 작성해 주세요">{% if item.worship_procedure[y]["etc"] %}{{ item.worship_procedure[y]["etc"] }}{% endif %}</textarea>
                            </td>
                        </form>
                        {% else %}
                        <tr id="1">
                            <th scope="row"></th>
                            <td>
                                <select id="contents_type_1" name="contents_type_1" >
                                    <option value="none" >선택</option>
                                    <option value="contents">내용</option>
                                    <option value="link">이동</option>
                                </select>
                                <textarea style="display:none" id="contents_1" name="contents_1" cols="50" placeholder="내용을 작성해 주세요" style="min-height:50px;overflow:visible;" onfocus="resize(this)" onkeyup="resize(this)"></textarea>
                                <!-- //콘텐츠 선택시 표시 -->

                                <div id="link_div_1" style="display:none" >
                                    <select id="link_type_1" name="link_type_1">
                                        <!--<option value="none" >선택</option>-->
                                        <option value="hymn">찬송가</option>
                                        <option value="bible">성경</option>
                                        <option value="reading">교독문</option>
                                    </select>
                                    <select id="link_to_1" name="link_to_1">
                                        <!--<option value="none" >선택</option>-->
                                        <option value="text" >찬송가</option>
                                        <option value="link" >성경</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <textarea class="h6" id="etc_1" name="etc_1" cols="15" style="min-height:50px;overflow:visible;" onfocus="resize(this)" onkeyup="resize(this)" placeholder="내용을 작성해 주세요"></textarea>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <hr/>
                <div class="mx-auto" style="text-align: center;">
                    <!--<a herf="/user/regId" class="btn btn-lg btn-primary" >가입</a>-->
                    <button type="submit" class="btn btn-lg btn-primary" >등록</button>
                </div>
                </div>
            </form>
            </div> <!-- /container -->
        </main>
        <footer class="container">
            <p>&copy; Company 2017</p>
        </footer>
        <script>
            $(function(){
                <!--{# 로그인 후 교회 정보가 없으면 교회 정보 등록 하도록 alert 창 띄운다 #}-->
                <!--{$ if not 'CHURCH_ID' in session['USER_INFO'] $}-->
                <!--var ok = confirm("주보등록 교회 정보가 없습니다. /n 교회 정보를 등록 하시고 이용 하세요. /n 페이지를 이동 하시겠습니까?");-->
                <!--if(ko){-->
                <!--} else {}-->

                $( "#week_date" ).datetimepicker({
                    format: 'Y-m-d H:i'
                    ,inline:true
                    ,lang: 'ko'
                    //,value : '{{ item.week_date|datetimeformat }}'
                    //,allowTimes:['04:00', '05:00', '06:00','08:00', '17:05', '17:20', '19:00', '20:00']
                });

                $("select").change(function(){
                    console.log("변경 id = "+ $(this).parents("tr").attr('id'));
                    var orderID = $(this).parents("tr").attr('id');
                    var selectChangeID = $(this).attr('id');

                    {# 예배 순서에 내용 등록시 내용, 링크 구분하여 처리 하며, 순서를 id로 처리 하며 tr 에 id를 넣어 해당 id를 추출 하여 처리 한다 #}
                    $("#" + selectChangeID +" option:selected").each(function(){

                        if($(this).val() == "none"){
                            $("#link_div_"+ orderID+"").hide();             // 링크영역 숨김
                            $("#bible_div_"+ orderID+"").hide();            // 성경영역 숨김
                            $("#contents_"+ orderID+"").hide();             // 내용 영역 노출

                            // 링크로 지정된 값 지우기
                            resetAll(orderID);

                        } else if($(this).val() == "contents"){
                            $("#link_div_"+ orderID+"").hide();             // 링크영역 숨김
                            $("#bible_div_"+ orderID+"").hide();            // 성경영역 숨김
                            $("#contents_"+ orderID+"").show();             // 내용 영역 노출

                            // 링크로 지정된 값 지우기
                            resetAll(orderID);

                        } else if ($(this).val() == "link"){
                            $("#contents_"+ orderID+"").text("");           // contents 내용 지움
                            $("#link_div_"+ orderID+"").show();             // link 영역 노출
                            $("#bible_div_"+ orderID+"").hide();            // 성경영역 숨김
                            $("#contents_"+ orderID+"").hide();             // 내용 영역 숨김

                            // 내용 관련 값 지우기
                            resetAll(orderID);

                        {# 찬송가 선택시 처리 #}
                        } else if ($(this).val() == "hymn"){               // 찬송가 선택
                            console.log("here");
                            //$("#link_to_"+orderID+"").attr("selected", false);
                            $("#bible_div_"+ orderID+"").hide();            // 성경영역 숨김
                            $("#link_to_"+orderID+"").val('none').attr('selected', 'selected')
                            $("#hymn_div_"+ orderID+"").show();            // 찬송가, 교독문 노출
                            $(".reading_"+ orderID+"").hide();             // 교독문 숨김
                            $(".hymn_"+ orderID+"").show();                // 찬송가 영역 노출

                            // 교독문, 성경 선택값 지우기
                            resetLinkValue(orderID);

                        } else if ($(this).val() == "reading"){            // 교독문 선택
                        console.log(selectChangeID);
                            //$("#link_to_"+orderID+"").attr("selected", false);
                            $("#link_to_"+orderID+"").val('none').attr('selected', 'selected')
                            $("#bible_div_"+ orderID+"").hide();           // 성경영역 숨김
                            $("#hymn_div_"+ orderID+"").show();            // 찬송가, 교독문 노출
                            $(".reading_"+ orderID+"").show();             // 교독문 영역 노출bible_div_
                            $(".hymn_"+ orderID+"").hide();                // 내용 영역 숨김

                            // 찬송가, 성경 선택 값 지우기
                            resetLinkValue(orderID);

                        {# 성경 선택시 처리 #}
                        } else if ($(this).val() == "bible"){              // 성경 선택
                            console.log("bible");
                            $("#contents_"+ orderID+"").hide();            // 내용 영역 숨김
                            $("#hymn_div_"+ orderID+"").hide();            // 찬송가, 교독문 영역 숨김
                            $("#bible_div_"+ orderID+"").show();           // 찬송가 영역 노출

                            // 찬송가, 교독문 설정 값 지우기
                            resetLinkValue(orderID);
                        } else {
                        }
                    });
                });

            });

            function resetAll(orderID){
                $("#contents_"+ orderID+"").val("");            // 내용 영역 숨김
                $("#link_type_"+ orderID+"").val("");             // 내용 영역 노출
                $("#link_to_"+ orderID+"").val("");               // 내용 영역 노출
                $("#bible_from_s_"+ orderID+"").val("");          // 내용 영역 노출
                $("#bible_from_line_"+ orderID+"").val("");             // 내용 영역 노출
                $("#bible_from_sen_"+ orderID+"").val("");             // 내용 영역 노출
                $("#bible_to_s_"+ orderID+"").val("");             // 내용 영역 노출
                $("#bible_to_line_"+ orderID+"").val("");             // 내용 영역 노출
                $("#bible_to_sen_"+ orderID+"").val("");             // 내용 영역 노출
            }

            //
            function resetLinkValue(orderID){
                $("#link_to_"+ orderID+"").val("");               // 내용 영역 노출
                $("#bible_from_s_"+ orderID+"").val("");          // 내용 영역 노출
                $("#bible_from_line_"+ orderID+"").val("");             // 내용 영역 노출
                $("#bible_from_sen_"+ orderID+"").val("");             // 내용 영역 노출
                $("#bible_to_s_"+ orderID+"").val("");             // 내용 영역 노출
                $("#bible_to_line_"+ orderID+"").val("");             // 내용 영역 노출
                $("#bible_to_sen_"+ orderID+"").val("");             // 내용 영역 노출
            }

            function resize(obj) {
                obj.style.height = "1px";
                obj.style.height = (12+obj.scrollHeight)+"px";
            }
        </script>
    </body>
</html>
