<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="">
        <title>예기치 않은 오류(500)</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='bootstrap/4.0.0-beta.2/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/signin/signin.css') }}" rel="stylesheet">

        <script type="text/javascript">

        </script>
    </head>

    <body>

        <div class="container">
            <div class="jumbotron mt-3">
                <h1>예기치 않은 오류(500)</h1>
                <p class="lead">오류가 발생 하였습니다. 첫 화면으로 이동 하여 사용 바랍니다.</p>
                <a class="btn btn-lg btn-primary" href="/" role="button">첫 화면으로 이동&raquo;</a>
            </div>
        </div>
    </body>
</html>