<!doctype html>
<html lang="ko">
    <head>
    {% include "layout/header.html" ignore missing with context %}
    </head>

    <body>

        <div class="container">

       <div class="jumbotron">
          <h1>환영합니다!</h1>
          <p class="lead">교회 주보(예배순서)를 등록하기 위한 계정 생성을 마치셨습니다. 가입 후 로그인을 하시면 주보를 등록 하길 원하시는 교회를 선택(등록)하시고, 이용 하세요.
          내가 등록 하고 해당 교인들이 이용 하실 수 있습니다. 참 교인으로서 매주 등록하도록 해주세요.</p>
          <p><a class="btn btn-lg btn-success" href="/" role="button">로그인으로 이동</a></p>
        </div>

        </div> <!-- /container -->
    </body>
</html>